@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

<style>
    .app-fab--absolute {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
</style>

<MatFAB Class="app-fab--absolute" Icon="@MatIconNames.Star" Label="Star on github" OnClick="@(_ => StarOnGithub())"></MatFAB>

@code
        {

    void StarOnGithub()
    {
        NavigationManager.NavigateTo("https://github.com/TopSwagCode/Dotnet.DeployTool");
    }

}