[Unit]
Description=Example .NET Web API App running on Ubuntu

[Service]
WorkingDirectory={WorkingDirectory}
ExecStart=/usr/bin/dotnet {WorkingDirectoryDll}
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production 
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
# Colon (:) separators aren't supported in environment variable names. Use a double underscore (__) in place of a colon.

[Install]
WantedBy=multi-user.target