@page "/"

<h1 style=" text-align: center; ">Welcome to the Dotnet core Blazor Deploy tool</h1>

<p>
    This is a small tool to help people deploy their AspNet Core / Dotnet Core service to a cheap host like AWS Lightsail, Digital Ocean, Linode, Whatever. <br />
    Below here there is a small GIF showing the tool in use. <br />
</p>
<p>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" src="/img/deploytool.gif" />
</p>
<!--<SurveyPrompt Title="How is Blazor working for you?" /> TODO: Use later? -->
