@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">
            <label for="ip">IP:</label>
        </div>
        <div class="col-4">
            <input type="text" id="ip" placeholder="Ip for server" style="float:right;" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label for="port">Port:</label>
        </div>
        <div class="col-4">
            <input type="text" id="port" placeholder="Port for server" style="float:right;" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label for="username">Username:</label>
        </div>
        <div class="col-4">
            <input type="text" id="username" placeholder="username for server" style="float:right;" />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label for="pemKeyPath">Pem Key:</label>
        </div>
        <div class="col-4">
            <input type="text" id="pemKeyPath" placeholder="Pem key path" style="float:right;" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="testConnectionButton" value="Test connection" style="float:right;" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">
            <label for="os">OS:</label>
        </div>
        <div class="col-4">
            <select name="os" id="os" style="float:right;">
                <option value="0">Ubuntu 20.04 (LTS)</option>
                <option value="1">Ubuntu 18.04 (LTS)</option>
                <option value="2">Ubuntu 16.04 (LTS)</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <label for="runtime">App Runtime:</label>
        </div>
        <div class="col-4">
            <select name="runtimes" id="runtimes" style="float:right;">
                <option value="0">.NET Core 2.1</option>
                <option value="1">.NET Core 3.1</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="installButton" value="Install runtime" style="float:right;" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">
            <label for="runtime">Release folder:</label>
        </div>
        <div class="col-4">
            <input type="text" id="solutionPath" placeholder="Project folder path" style="float:right;" />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="uploadButton" value="Upload project" style="float:right;" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <textarea spellcheck="false" style="background-color: black;color: green; width: 800px; height: 600px;" id="textarea"></textarea>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/deploy.js"></script>