@page "/deploy"
@using Dotnet.DeployTool.UI.Data

<h1>Deploy tool</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<EditForm Model="@server" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <p>
        <label>
            IP:
            <InputText id="Ip" @bind-Value="server.IP" />
        </label>
    </p>
    <p>
        <label>

            Port:
            <InputNumber id="Port" @bind-Value="server.Port" />

        </label>
    </p>
    <p>
        <label>

            Username:
            <InputText id="Username" @bind-Value="server.Username" />

        </label>
    </p>
    <p>
        <label>

            PemKey filepath:
            <InputText id="PemKeyFilePath" @bind-Value="server.PemKeyFilePath" />
        </label>
    </p>

    <button type="submit">Submit</button>
</EditForm>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private Server server = new Server();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
